*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotateRadar{
    from{
        transform: rotate(0deg)
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes pulse{
    0%{
        transform: scale(1);
        opacity: 1;
    }

    50%{
        transform: scale(1.5);
        opacity: 0.5;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
}

body::before{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.648);
}

.radar-container{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    background: radial-gradient( circle,rgba(0,255,120,0.08), transparent 70% );
}

.radar-circle{
    position: absolute;
    border: 1px solid rgba(0,255,120,0.25);
    box-shadow: 0 0 10px rgba(0,255,120,0.15);
    border-radius:50%;
}

.circle-1{
    width: 100px;
    height: 100px;
}

.circle-2{
    width: 200px;
    height: 200px;
}

.circle-3{
    width: 300px;
    height: 300px;
}

.radar-line{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 4px;
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.9));
    transform-origin: left center;
    animation: rotateRadar 4s linear infinite;
}

.dot-1{
    top: 40px;
    left: 180px;
}

.dot-2{
    top: 200px;
    left: 70px;
}

.dot-3{
    top: 120px;
    left: 240px;
}

.radar-dot{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 15px white;
    animation: pulse 2s infinite;
}

.home-h1{
    color: white;
    letter-spacing: 2px;
    font-size: clamp(3rem, 8vw, 5.5rem);
    font-weight: 800;
    text-transform: uppercase;
    text-shadow:  0 0 5px rgba(255,255,255,0.4),
    0 0 20px rgba(0,255,120,0.3), 2px 2px 10px black;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.home-subtitle{
    color: rgba(255,255,255,0.8);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: center;
    max-width: 600px;
    animation: fadeIn 1.8s ease;
}

.hero-image{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.artists-btn{
    text-decoration: none;
    background-color: rgba(0, 255, 120, 0.9);
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    color: black;
    padding:12px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    backdrop-filter: blur(4px);
    transition: 0.3s ease;
}

.artists-btn:hover{
    background-color: black;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
}

.home-h1{
    animation: fadeIn 1.5s ease;
}

.artists-btn{
    animation: fadeIn 2s ease;
}

