<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <div class="radar-container">
        <div class="radar-circle circle-1"></div>
        <div class="radar-circle circle-2"></div>
        <div class="radar-circle circle-3"></div>

        <div class="radar-line"></div>

        <span class="radar-dot dot-1"></span>
        <span class="radar-dot dot-2"></span>
        <span class="radar-dot dot-3"></span>
    </div>
    <h1 class="home-h1">The Groupie Tracker</h1>
    <img class="hero-image" src="/static/images/background2.jpg" alt="Groupie Tracker">
    <a class="artists-btn" href="/artists">Get All Artists</a>
</body>

</html>