<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>

    <div class="animation">
         <div class="radar-container">
        <div class="radar-circle circle-1"></div>
        <div class="radar-circle circle-2"></div>
        <div class="radar-circle circle-3"></div>

        <div class="radar-line"></div>

        <span class="radar-dot dot-1"></span>
        <span class="radar-dot dot-2"></span>
        <span class="radar-dot dot-3"></span>
    </div>
    </div>


    <h1>Let's Get The Tracking Started</h1>
    <div class="form">
        <form class="search-form" action="/search" method="GET">
            <input class="input" type="text" name="query" placeholder="search for an artist...">
            <button class="button" type="submit">Search</button>
        </form>
        <form class="filter" action="/artists" method="GET">
            <select class="select" name="sort" onchange="this.form.submit()">
                <option value="">Filter artist by...</option>
                <option value="default">default</option>
                <option class="select-value" value="ascending">ascending</option>
                <option value="descending">descending</option>
                <option value="oldest">oldest</option>
                <option value="newest">newest</option>
            </select>
        </form>
    </div>
    <div class="artists-collection">
        <h2>List of Artists</h2>
        <div class="artist-grid">
            {{range .}}
            <div class="artist-card">
                <img src="{{.Image}}" alt="{{.Name}}">
                <h3>{{.Name}}</h3>
                <p><strong>FirstAlbum:</strong>{{.FirstAlbum}}</p>
                <a href="/artists/{{.Id}}">Personal Details</a>
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>